
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcessDenied</title>
    <link rel="stylesheet" href="~/css/404.css" />
</head>
<body translate="no">
    <div class="ghost">
        <div class="ghost--navbar">
            <center style="margin-top: .7em;">
                <a asp-action="Index" asp-controller="Home" style="text-decoration: none; color: #e2bb2d">Retornar a Pagina Inicial</a>
            </center>
        </div>
        <div class="ghost--columns">
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
            <div class="ghost--column">
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
                <div class="code"></div>
            </div>
        </div>
        <div class="ghost--main">
            <div class="code"></div>
            <div class="code"></div>
        </div>
    </div>
    <h1 class="police-tape police-tape--1">
        &nbsp;&nbsp;&nbsp;&nbsp;Error: 404&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 404&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 404&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 404&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 404&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 404&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error: 404
    </h1>
    <h1 class="police-tape police-tape--2">Acesso Negado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesso Negado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesso Negado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesso Negado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesso Negado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acesso Negado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
</body>
</html>
